@use "../../../../utilities/styles/variables" as *;

$bgInputs: var(--terciary-2);
$bgInputsHover: var(--terciary-1);

$borderInputs: var(--secondary-5);
$borderInputsHover: var(--secondary-4);
$borderInputsFocus: var(--secondary-3);

$distanceTxtInput: 7px;

.customSelect {
    background-color: $bgInputs;
    border: 1px solid $borderInputs;
    border-radius: 2px;
    margin-top: $distanceTxtInput;
    padding: 0;

    color: var(--secondary-4);
    font-size: 0.8rem;
    
    position: relative;
    transition: border-color 250ms ease-out;

    &:focus {
        outline: none;
        border-color: $borderInputsFocus;
    }
    &:hover:not(:disabled) {
        border-color: $borderInputsHover;
    }

    button {
        background: none;
        border: none; outline: none;
        height: 100%; width: 100%;
        padding: 8px;
        text-align: left;
    }
}
.customSelect .customOptions {
    background-color: var(--primary-3);
    border: 1px solid $borderInputs;
    border-top: none;
    height: 170px; width: 100%;
    padding: 8px 0;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 2.2rem;
    overflow-y: auto;

    .option {
        padding: 5px 8px;
        font-size: 14px;

        color: var(--secondary-4);
        transition: background-color 150ms ease-out;

        &:not(.selected) {
            cursor: pointer;
        }
        &:hover, &.selected {
            color: var(--secondary-2);
            background-color: var(--terciary-3);
        }
    }
}
.customSelect.disabled {
    opacity: 0.7;
    pointer-events: none;
}