@use "./variables" as *;

.appDashboard {
    background-image: $dashboardApp_bg;
    height: 100dvh; width: 100%;
    min-height: 100vh;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .mainContent {
        width: 100%; 
        min-height: 0; min-width: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        transition: margin-left 0.3s ease;
    }
}

    // height: 100%; width: 100%;